{{>header}}

<body>
  {{>navbar}}

  <div class="mk-body">
    <form action="/questions" method="get">
      <h1 style="color: chartreuse;">Your solution was successfully accepted.</h1>

      <button type="submit">Attempt another Question</button>
    </form>
  </div>

</body>

{{>footer}}