{{>header}}

<body class="mk-body">

    <div class="accepted">
        <form action="/questions" method="get">
        <h1 style="color: blue;">Your solution was successfully accepted.</h1>
        
        <button type="submit">Attempt another Question</button>
        </form>
    </div>

</body>