{{>header}}

<body>
  {{>navbar}}

  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div
          class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <h1>Welcome to Manthan-MK</h1>
          <h2>Backend Assignment for Harkirat</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="/signup" class="btn-get-started scrollto">Get Started</a>
            <a
              href="https://www.youtube.com/"
              target="_blank"
              class="glightbox btn-watch-video"
            ><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div
          class="col-lg-6 order-1 order-lg-2 hero-img"
          data-aos="zoom-in"
          data-aos-delay="200"
        >
          <img
            src="images/MK-White_Logo.png"
            class="img-fluid animated"
            alt="img doesn't exit"
            height="300px"
            width="350px"
          />
        </div>
      </div>
    </div>

  </section>

</body>

{{>footer}}