
{{>header}}

<body>
    {{>navbar}}
    
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="images/MK-White_Logo.png" class="brand_logo" alt="Logo">
					</div>
				</div>

				<div class="d-flex justify-content-center form_container">

					<form action="/login" method="post">
          
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text">Username<i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="email" class="form-control input_user" value="" placeholder="enter username (email)">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"> Password <i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="password" class="form-control input_pass" value="" placeholder="enter your password">
						</div>
						<div class="form-group">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="customControlInline">
								<label class="custom-control-label" for="customControlInline">Remember me</label>
							</div>
						</div>
							<div class="d-flex justify-content-center mt-3 login_container">
				 	<button type="submit" name="button" class="btn login_btn">Login</button>
				   </div>

					</form>

				</div>
		
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Don't have an account? <a href="/signup" target="_blank" class="ml-2" id="signup">Sign Up</a>
					</div>
					<div class="d-flex justify-content-center links">
						<a href="#" id="forgot">Forgot your password?</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

{{>footer}}
