{{>header}}

<body class="mk-body">

    <div class="questions">

    <h1><u>Questions :-</u></h1>
    <br>
    <form action="/submission" method="get" class="question1">
        <h3>Q-1)</h3>
        <h3><b>Description:</b> Given an array, return the maximum of the array?</h3>
    <p>
        <b>Test Cases:</b> <br>
        [input:"[1,2,3,4,5]", <br> 
        output:"5"]</p>
    <button type="submit">Attempt Question</button>
    </form>
    <hr><br>

    <form action="/submission" method="get" class="question2">
        <h3>Q-2)</h3>
        <h3><b>Description:</b> Write a JavaScript function to extract a specified number of characters from a string.</h3>
    <p>
    <b>Test Cases:</b> <br>
    Sample Data: console.log(truncate_string("Robin Singh",4)); <br>
    Expected Output: "Robi" <br>
    false <br>
    true
    </p>
    <button type="submit">Attempt Question</button>
    </form>
    <hr><br>

    
    <form action="/submission" method="get" class="question2">
        <h3>Q-3)</h3>
        <h3><b>Description:</b> Write a JavaScript program which returns a subset of a string.</h3>
    <p>
    <b>Test Cases:</b> <br>
    Sample Data: dog <br>
    Expected Output: ["d", "do", "dog", "o", "og", "g"] <br>
    </p>
    <button type="submit">Attempt Question</button>
    </form>
    <hr><br>

    
    <form action="/submission" method="get" class="question2">
        <h3>Q-4)</h3>
        <h3><b>Description:</b> Write a JavaScript function that accept a list of country names as input and returns the longest country name as output.</h3>
    <p>
    <b>Test Cases:</b> <br>
    Sample function : Longest_Country_Name(["India", "Germany", "United States of America", "Australia"]) <br>
    Expected output : "United States of America" <br>
    </p>
    <button type="submit">Attempt Question</button>
    </form>
    <hr><br>

    
    <form action="/submission" method="get" class="question2">
        <h3>Q-5)</h3>
        <h3><b>Description:</b> Write a JavaScript function to get the first element of an array. Passing a parameter 'n' will return the first 'n' elements of the array.</h3>
    <p>
    <b>Test Cases:</b> <br>
     console.log(first([7, 9, 0, -2])); <br>
     console.log(first([],3)); <br>
     console.log(first([7, 9, 0, -2],3)); <br>
     console.log(first([7, 9, 0, -2],6)); <br>
     console.log(first([7, 9, 0, -2],-3)); <br>
     Expected Output : <br>
     7 <br>
     [] <br>
     [7, 9, 0] <br>
     [7, 9, 0, -2] <br>
     [] <br>
    </p>
    <button type="submit">Attempt Question</button>
    </form>
    <hr><br>

    
    </div>

</body>