{{>header}}

<body class="mk-body">

    <div class="rejected">
        <form action="/submission" method="get">
        <h1 style="color: crimson;">Your solution was rejected.</h1>
        <button type="submit">Please Try Again</button>
        </form>
        <br>
        <form action="/questions" method="get">
        <button type="submit">Try another Question</button>
        </form>
    </div>

</body>