{{>header}}

<body class="mk-body">

    <div class="submission">
        <form action="/submission" method="post">
            <h1>Solve the problem here :-</h1>
            <textarea cols="60" rows="10"></textarea><br>
            <button type="submit">Submit the solution</button>
        </form>
    </div>

</body>