<!DOCTYPE html>
<html>
  <head>
    <title>Results</title>
  </head>
  <body>
    <h1>Results</h1>
    <p><%= result %></p>
    <br><br>
    <a href="http://localhost:3001/view-submissions">
      <button>View My Submissions</button>
    </a>
  </body>
</html>