<!DOCTYPE html>
<html>
  <head>
    <title>Questions</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h2>Submissions for:</h2>
    <ul>
      <% submissions.forEach(submission => { %>
      <li><%= submission.status %></li>
    <% }); %>
    <ul>
  </body>
</html>
