<!DOCTYPE html>
<html>
  <head>
    <title>View Submissions</title>
  </head>
  <body>
    <h1>View Submissions</h1>
    <ul>
      <% for (let i = 0; i < submissions.length; i++) { %>
        <li><%= submissions[i] %></li>
      <% } %>
    </ul>
  </body>
</html>