<!DOCTYPE html>
<html>

<head>
    <title>Login Form</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        .sign {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 60px;
            background-color: #ccc;
            padding: 0 20px;
        }
        
        .sign a {
            margin-left: 10px;
            padding: 10px 20px;
            background-color: #333;
            color: #fff;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="sign">
        <a href="/signup">Signup</a>
    </div>
    <h1>Login Form</h1>
    <% if (locals.pwderror) { %>
        <p style="color: red;">
            <%= locals.pwderror %>
        </p>
        <% } %>
            <% if (locals.usrerror) { %>
                <p style="color: red;">
                    <%= locals.usrerror %>
                </p>
                <% } %>
                    <% if (locals.success) { %>
                        <p style="color: red;">
                            <%= locals.success %>
                        </p>
                        <% } %>
                            <form method="post" action="/login">
                                <label for="username">Username:</label>
                                <input type="text" id="user" name="user" required><br><br>
                                <label for="password">Password:</label>
                                <input type="pwd" id="password1" name="pwd" required><br><br>
                                <% if (locals.error) { %>
                                    <p class="error">
                                        <%= locals.error %>
                                    </p>
                                    <% } %>
                                        <input type="submit" value="Login">
                            </form>
                            <script src="/main.js"></script>

</body>

</html>