<!DOCTYPE html>
<html lang="en">
<head>    
    <title>Questions</title>
  </head>
</head>
<body>

	<div>
		<h1>Questions</h1>
		<a href="/submission">Make Submissions</a>
	</div>
</body>
</html>