 <!DOCTYPE html>
    <html>
      <head>
        <title>Signup Form</title>
<link rel="stylesheet" href="/style.css">

      </head>
      <body>
        <h1>Signup Form</h1>
 <% if (locals.error) { %>
      <p style="color: red;"><%= locals.error %></p>
    <% } %>
        <form method="post" action="/signup">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required><br><br>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required><br><br>
          <input type="submit" value="Signup">
        </form>
      </body>
    </html>