<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Submissions</title>
</head>

<body>
    <div>
        <h1>#<%= target %> Submissions for <%= qns[target].title %>
        </h1>
        <% for (let i=0; i < subs.length; i++) { %>
            <% if (subs[i].qnsIds===target) { %>
                <div class="allSubmissions">
                    <p>
                        <%= JSON.stringify(subs[i]) %>
                    </p>
                </div>
                <% } %>
                    <% } %>
    </div>
</body>

</html>