* {
    font-family: sans-serif;
}

input[type=text] {
    width: 40%;
}

input[type=password] {
    width: 37%;
}

input[type=password]:focus {
    outline-color: red;
}

.qns {
    border: 1px solid black;
    padding: 3vw;
    margin: 1vw;
}

.sub {
    border: 1px solid black;
    padding: 3vw;
    margin: 1vw;
}

.qnsSub {
    display: flex;
}