
/* body {
    min-height: 1000px;
} */

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #96e3ff;
}

.mk-body {
    margin: 30px;
}

/* h1 {
    color: blue;
} */

footer {
    text-align: center;
}