<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login form</title>
  </head>
  <body>
    <form action="/login" method="POST">
      <h1>LOGIN</h1>
      <label for="email">Enter email: </label>
      <input type="email" id="email" name="email" />
      <br />
      <label for="password">Enter password: </label>
      <input type="password" name="password" id="password" />
      <br />
      <button>Login</button>
    </form>
  </body>
</html>
